In [1]:
from IPython.core.display import HTML
HTML(open('D:/localmts/python/css1.py').read())

In [2]:
import numpy as np
import pandas as pd

In [3]:
from helper import load_sample_data_from_dir

In [4]:
# load the cash market data from the file system
stocks_data_dir='D:/findataf/cm_sample_data'
stocks_df = load_sample_data_from_dir(stocks_data_dir)
stocks_df

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,182D021123,TB,96.77,96.77,96.77,96.77,96.77,96.47,1000,9.677000e+04,01-JUN-2023,1,IN002023Y052,NaN
1,182D220923,TB,97.60,97.60,97.60,97.60,97.60,97.60,1100,1.073600e+05,01-JUN-2023,1,IN002022Y526,NaN
2,182D231123,TB,96.60,96.60,96.60,96.60,96.60,96.60,4800,4.636800e+05,01-JUN-2023,1,IN002023Y086,NaN
3,20MICRONS,EQ,92.30,94.20,92.10,92.65,92.45,92.25,126687,1.180952e+07,01-JUN-2023,2672,INE144J01027,NaN
4,21STCENMGM,EQ,17.85,18.20,17.75,17.90,18.15,17.85,102,1.829550e+03,01-JUN-2023,12,INE253B01015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48686,ZOTA,EQ,378.50,388.00,372.00,376.50,377.90,375.90,33998,1.297169e+07,28-JUN-2023,1587,INE358U01012,NaN
48687,ZUARI,EQ,150.70,153.20,147.75,148.75,149.00,147.10,173624,2.609524e+07,28-JUN-2023,3724,INE840M01016,NaN
48688,ZUARIIND,EQ,145.05,147.40,143.10,143.85,144.00,144.05,27513,3.986752e+06,28-JUN-2023,847,INE217A01012,NaN
48689,ZYDUSLIFE,EQ,572.00,589.10,565.25,582.45,582.00,570.70,2442498,1.411485e+09,28-JUN-2023,41568,INE010B01027,NaN
48690,ZYDUSWELL,EQ,1505.00,1505.25,1475.20,1479.40,1483.00,1486.95,569022,8.418612e+08,28-JUN-2023,5576,INE768C01010,NaN

In [5]:
# drop the redundant column
stocks_df.drop(['Unnamed: 13'], axis=1, inplace=True)

In [8]:
# pip install mysqlclient for sqlalchemy to work with mysql
# write the table to mysql
from sqlalchemy import create_engine
dburl = 'mysql://root:abcd@localhost:3306/testdb'
engine = create_engine(dburl)

In [9]:
# write the dataframe to a table in the database
stocks_df.to_sql(con=engine, name='stockstbl', if_exists='replace', index=False)

48691

In [11]:
# now fetch the table from the databse into a dataframe
colnames = engine.execute('select * from stockstbl limit 1').keys()
cur = engine.execute('select * from stockstbl')
stocks_df_from_db = pd.DataFrame(cur.fetchall(),columns=colnames)
stocks_df_from_db.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,182D021123,TB,96.77,96.77,96.77,96.77,96.77,96.47,1000,96770.00,01-JUN-2023,1,IN002023Y052
1,182D220923,TB,97.60,97.60,97.60,97.60,97.60,97.60,1100,107360.00,01-JUN-2023,1,IN002022Y526
2,182D231123,TB,96.60,96.60,96.60,96.60,96.60,96.60,4800,463680.00,01-JUN-2023,1,IN002023Y086
3,20MICRONS,EQ,92.30,94.20,92.10,92.65,92.45,92.25,126687,11809517.10,01-JUN-2023,2672,INE144J01027
4,21STCENMGM,EQ,17.85,18.20,17.75,17.90,18.15,17.85,102,1829.55,01-JUN-2023,12,INE253B01015

In [12]:
# execute a query on the table in the database
curgrouped = engine.execute(
    (
     "select symbol, sum(tottrdqty) as qty, sum(tottrdval) "
     "as vlu from stockstbl "
     "where symbol in ('INFY', 'TCS', 'ITC') "
     "group by symbol"
    )
)
curgrouped.fetchall()

[('INFY', Decimal('112481192'), 145078492034.85),
 ('ITC', Decimal('155877456'), 69428710794.5),
 ('TCS', Decimal('35689569'), 115434151644.45)]