In [1]:
from IPython.core.display import HTML
HTML(open('D:/localmts/python/css1.py').read())

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Create a dataframe that we will index by multiple levels
# here by fruit and quality
fruits_quality_df = pd.DataFrame({
    'fruit': ['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'mango', 'mango', 'mango', 'mango', 'mango', 'mango'],
    'quality': ['low', 'medium',  'ok', 'good', 'better', 'best', 'low', 'medium',  'ok', 'good', 'better', 'best',],
    'jan': [100, 124, 97, 130, 142, 98, 40, 34, 30, 54, 49, 100],
    'feb': [190, 234, 187, 321, 423, 189, 45, 54, 57, 61, 73, 97],
    'mar': [147, 214, 237, 494, 212, 300, 515, 435, 567, 100, 94, 112],
    'apr': [193, 387, 262, 380, 109, 127, 168, 142, 259,  62,  94, 496],
    'may': [386, 358, 475, 151, 191,  69, 432,  72, 498, 171, 169, 150],
    'jun':  [369, 256, 151, 293, 413, 483, 375, 153, 243, 496, 458, 395],
    'jul':  [442, 350,  75, 293,  60, 261, 367, 128, 251, 435, 392,  91],
    'aug':  [412, 145, 445, 191,  82, 381, 255, 391, 362, 116, 180, 217],
    'sep':  [347, 119, 186, 376, 165, 313, 407, 437, 243, 461, 160, 188],
    'oct':  [468, 480, 101, 396, 310,  86, 309, 463, 124, 351, 246, 434],
    'nov':  [494, 238, 191, 492, 129, 470, 137, 484,  97, 133, 430, 179],
    'dec':  [169, 487, 424, 297,  69, 246, 406, 447, 137, 231, 323, 326]
})

In [5]:
fruits_quality_df.index

RangeIndex(start=0, stop=12, step=1)

In [6]:
multi_index_df = fruits_quality_df.set_index(['fruit', 'quality'])

# Accessing multi index data frame elements
## using xs
## sorting and enable fast, range access
### using slice
### using IndexSlice

In [8]:
# access a particular index item
multi_index_df.xs(("apple", "good"))

jan    130
feb    321
mar    494
apr    380
may    151
jun    293
jul    293
aug    191
sep    376
oct    396
nov    492
dec    297
Name: (apple, good), dtype: int64

In [9]:
#  Get values at specified index
print(multi_index_df.xs('apple'))
print(multi_index_df.xs('mango'))

         jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
quality
low      100  190  147  193  386  369  442  412  347  468  494  169
medium   124  234  214  387  358  256  350  145  119  480  238  487
ok        97  187  237  262  475  151   75  445  186  101  191  424
good     130  321  494  380  151  293  293  191  376  396  492  297
better   142  423  212  109  191  413   60   82  165  310  129   69
best      98  189  300  127   69  483  261  381  313   86  470  246
         jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
quality
low       40   45  515  168  432  375  367  255  407  309  137  406
medium    34   54  435  142   72  153  128  391  437  463  484  447
ok        30   57  567  259  498  243  251  362  243  124   97  137
good      54   61  100   62  171  496  435  116  461  351  133  231
better    49   73   94   94  169  458  392  180  160  246  430  323
best     100   97  112  496  150  395   91  217  188  434  179  326

In [10]:
#  Get values at specified index and level
multi_index_df.xs('best', level=1)

       jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
fruit
apple   98  189  300  127   69  483  261  381  313   86  470  246
mango  100   97  112  496  150  395   91  217  188  434  179  326

In [11]:
# Get values at specified column and axis
multi_index_df.xs('jan', axis=1 )

fruit  quality
apple  low        100
       medium     124
       ok          97
       good       130
       better     142
       best        98
mango  low         40
       medium      34
       ok          30
       good        54
       better      49
       best       100
Name: jan, dtype: int64

In [12]:
# sort the index so that pandas can apply intelligent algorithms to speed up access
midf_sorted = multi_index_df.sort_index()
# now we can supply key ranges to select items
print(midf_sorted.loc['apple':])
print(midf_sorted.loc[('apple', 'good'): ('mango', 'good')])

               jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
fruit quality
apple best      98  189  300  127   69  483  261  381  313   86  470  246
      better   142  423  212  109  191  413   60   82  165  310  129   69
      good     130  321  494  380  151  293  293  191  376  396  492  297
      low      100  190  147  193  386  369  442  412  347  468  494  169
      medium   124  234  214  387  358  256  350  145  119  480  238  487
      ok        97  187  237  262  475  151   75  445  186  101  191  424
mango best     100   97  112  496  150  395   91  217  188  434  179  326
      better    49   73   94   94  169  458  392  180  160  246  430  323
      good      54   61  100   62  171  496  435  116  461  351  133  231
      low       40   45  515  168  432  375  367  255  407  309  137  406
      medium    34   54  435  142   72  153  128  391  437  463  484  447
      ok        30   57  567  259  498  243  251  362  243  124   97  137
               jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
fruit quality
apple good     130  321  494  380  151  293  293  191  376  396  492  297
      low      100  190  147  193  386  369  442  412  347  468  494  169
      medium   124  234  214  387  358  256  350  145  119  480  238  487
      ok        97  187  237  262  475  151   75  445  186  101  191  424
mango best     100   97  112  496  150  395   91  217  188  434  179  326
      better    49   73   94   94  169  458  392  180  160  246  430  323
      good      54   61  100   62  171  496  435  116  461  351  133  231

In [14]:
# for whatever reason this is not working lets move on
midf_sorted.loc[(slice('apple', 'good'), slice('mango', 'best')), :]

Empty DataFrame
Columns: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
Index: []

In [16]:
idx = pd.IndexSlice
print(midf_sorted.loc[idx[:, 'best'], :])
print(midf_sorted.loc[idx['a':'b', 'b': 'm'], :])

               jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
fruit quality
apple best      98  189  300  127   69  483  261  381  313   86  470  246
mango best     100   97  112  496  150  395   91  217  188  434  179  326
               jan  feb  mar  apr  may  jun  jul  aug  sep  oct  nov  dec
fruit quality
apple best      98  189  300  127   69  483  261  381  313   86  470  246
      better   142  423  212  109  191  413   60   82  165  310  129   69
      good     130  321  494  380  151  293  293  191  376  396  492  297
      low      100  190  147  193  386  369  442  412  347  468  494  169

# Create MultiIndexes

In [21]:
print(pd.MultiIndex.from_arrays([[2021, 2022], ['jan', 'feb']]))
print(pd.MultiIndex.from_tuples([(2021, 'jan'), (2021, 'feb'), (2021, 'mar')]))
print(pd.MultiIndex.from_product([[2021, 2022], ['jan', 'feb', 'mar'], ['low', 'high']]))

MultiIndex([(2021, 'jan'),
            (2022, 'feb')],
           )
MultiIndex([(2021, 'jan'),
            (2021, 'feb'),
            (2021, 'mar')],
           )
MultiIndex([(2021, 'jan',  'low'),
            (2021, 'jan', 'high'),
            (2021, 'feb',  'low'),
            (2021, 'feb', 'high'),
            (2021, 'mar',  'low'),
            (2021, 'mar', 'high'),
            (2022, 'jan',  'low'),
            (2022, 'jan', 'high'),
            (2022, 'feb',  'low'),
            (2022, 'feb', 'high'),
            (2022, 'mar',  'low'),
            (2022, 'mar', 'high')],
           )

In [23]:
cols = pd.MultiIndex.from_product([['jan', 'feb'], ['low', 'high']])
rows = pd.Series(['Infy', 'TCS', 'SBIN', 'HDFCBank'])
data = [[1100,3100,510,1600],[1130, 3222, 522, 1645], [1040,2812,440,1512], [1055, 2913, 476, 1545]]

# DataFame with multi index columns
# stocks low high df
slhdf = pd.DataFrame(data, columns=cols).set_index(rows)
slhdf

           jan        feb
           low  high  low  high
Infy      1100  3100  510  1600
TCS       1130  3222  522  1645
SBIN      1040  2812  440  1512
HDFCBank  1055  2913  476  1545

In [26]:
print(slhdf.loc[:, ('jan', 'high')])
print(slhdf[('feb', 'high')])

Infy        3100
TCS         3222
SBIN        2812
HDFCBank    2913
Name: (jan, high), dtype: int64
Infy        1600
TCS         1645
SBIN        1512
HDFCBank    1545
Name: (feb, high), dtype: int64

In [28]:
idx = pd.IndexSlice
print(slhdf.loc[:,idx[:, 'high']])
print(slhdf.xs('jan', level=0, axis=1))
print(slhdf.xs('high', level=1, axis=1))

           jan   feb
          high  high
Infy      3100  1600
TCS       3222  1645
SBIN      2812  1512
HDFCBank  2913  1545
           low  high
Infy      1100  3100
TCS       1130  3222
SBIN      1040  2812
HDFCBank  1055  2913
           jan   feb
Infy      3100  1600
TCS       3222  1645
SBIN      2812  1512
HDFCBank  2913  1545

In [30]:
slhdf.columns.names = ['m1', 'm2']
print(slhdf.columns.names)
print(slhdf.xs('high', level='m2', axis=1))
print(slhdf.xs('jan', level='m1', axis=1))

['m1', 'm2']
m1         jan   feb
Infy      3100  1600
TCS       3222  1645
SBIN      2812  1512
HDFCBank  2913  1545
m2         low  high
Infy      1100  3100
TCS       1130  3222
SBIN      1040  2812
HDFCBank  1055  2913